body {
    background-color: rgb(133, 31, 31);
  }
  
  header {
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
  }
  h1 {
    color: whitesmoke;
    margin-left: 20px;
  }

  ul {
    background: #f8e298;
    padding: 20px;
  }